# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# Note: snapshot folders should not be ignored.
# Read more here: https://jestjs.io/docs/en/snapshot-testing.html#should-snapshot-files-be-committed

# production
/build
/storybook-static

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
