@mixin activate-label {
  font-size: 14px;
  padding: 0 2px;
  top: -8px;
}

.input-field-wrapper {
  align-items: center;
  cursor: text;
  display: flex;
  margin: $global-padding-size;
  position: relative;

  &:hover {
    input {
      border: 1px solid $ssb-green-4;
      //outline: $ssb-green-4 auto 5px;
    }
  }

  input {
    border: 1px solid $ssb-dark-5;
    font-size: 16px;
    height: $input-field-height;
    padding: 4px $global-padding-size;
    text-overflow: ellipsis;
    width: 100%;

    &:disabled {
      border: 1px solid $ssb-dark-5;
      cursor: not-allowed;
    }

    &:disabled + label {
      color: rgba($label-color, .5);
      cursor: not-allowed;
      user-select: none;
    }

    &:focus {
      //border: 2px solid $ssb-green-4;
      outline: $ssb-green-4 auto 5px;
    }

    &:focus + label {
      @include activate-label;
      color: $ssb-green-4;
    }

    &.has-icon {
      padding-right: $input-field-height;
    }
  }

  label {
    background: $ssb-white;
    color: $label-color;
    cursor: text;
    left: $global-padding-size;
    position: absolute;
    top: 8px;
    transition: all .2s;
    user-select: none;

    &.has-value {
      @include activate-label;
    }
  }

  .clickable-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $input-field-height;
    margin-left: -$input-field-height;
    width: $input-field-height;

    .search-icon {
      color: $ssb-green-3;
    }
  }

}