.components-page {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 280px calc(100% - 280px);
  height: 100%;

  > aside {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  > section {
    border-left: 1px solid $ssb-dark-5;
  }

  @media #{$mobile} {
    grid-template-columns: 100%;

    > aside {
      display: none;
    }

    > section {
      border-left: 0;
    }
  }

  .navigator-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .nav-item {
    align-items: center;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    text-decoration: none;

    &.coming-soon {
      border-top-color: $ssb-dark-5;

      .coming-soon-label {
        align-items: center;
        background: $ssb-dark-5;
        color: $ssb-white;
        display: flex;
        font-size: 14px;
        height: 27px;
        left: -2px;
        padding: 0 10px;
        position: absolute;
        top: 20px;

        &:before {
          border-color: $ssb-dark-5  transparent  $ssb-dark-5 transparent;
          border-style: solid;
          border-width: 14px 0 13px 12px;
          content: '';
          float: right;
          height: 0;
          left: -12px;
          position: absolute;
          top: 0;
          width: 0;
        }
      }
    }

    .new-label {
      align-items: center;
      background: $ssb-green-3;
      color: $ssb-white;
      display: flex;
      font-size: 14px;
      height: 27px;
      left: -2px;
      padding: 0 10px;
      position: absolute;
      top: 20px;

      &:before {
        border-color: $ssb-green-3  transparent  $ssb-green-3 transparent;
        border-style: solid;
        border-width: 14px 0 13px 12px;
        content: '';
        float: right;
        height: 0;
        left: -12px;
        position: absolute;
        top: 0;
        width: 0;
      }
    }

    >.ssb-title {
      margin-top: 20px;
    }

    .component-icon {
      height: 120px;
      width: 120px;
    }

    .arrow-right {
      color: $ssb-green-3;
    }

    &.clickable {
      cursor: pointer;

      &:hover {
        border-color: $ssb-green-3;

        .arrow-right {
          animation-duration: .2s;
          animation-name: bump;
        }
      }
    }
  }
}
