.component-page-wrapper {
  display: grid;
  flex-grow: 1;
  grid-template-columns: minmax(10%, 280px) 1fr;
  height: 100%;

  > aside {
    padding-top: 60px;
  }

  > section {
    border-left: 1px solid $ssb-dark-5;
    padding-left: $global-padding-size * 2;
    padding-top: 60px;
  }
}