@keyframes bump {
  0% { margin-left: 0; }
  50% { margin-left: 10px; }
  100% { margin-left: 0; }
}

.components-page {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 200px calc(100% - 200px);
  height: 100%;

  > aside {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  > section {
    border-left: 1px solid $ssb-dark-5;
  }

  @media #{$mobile} {
    grid-template-columns: 100%;

    > aside {
      display: none;
    }

    > section {
      border-left: 0;
    }
  }

  .navigator-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .nav-item {
    align-items: center;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-between;
    padding: 30px;
    text-decoration: none;

    .component-icon {
      height: 120px;
      width: 120px;
    }

    .arrow-right {
      color: $ssb-green-3;
    }

    &:hover {
      border-color: $ssb-green-3;

      .arrow-right {
        animation-duration: .2s;
        animation-name: bump;
      }
    }
  }
}
