$regular-disable-color: #a2baba;
$negative-disable-color: $label-color;

.button-container {
  align-items: center;
  border-radius: 2px;
  display: flex;
  height: fit-content;
  margin-right: 20px;
  padding: $global-padding-size ($global-padding-size * 2);

  &:hover, &:active {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.secondary {
  background: $ssb-white;
  border: 1px solid $ssb-green-4;
  color: $ssb-green-4;

  &:hover, &:active {
    color: $ssb-white;

    .button-text {
      border-bottom: 1px solid $ssb-white;
    }
  }

  &:hover {background: $ssb-green-4;}

  &:active {background: $ssb-green-5;}

  &:disabled {
    background: $ssb-white;
    color: $regular-disable-color;
    border: 1px solid $regular-disable-color;

    .button-text {
      border-bottom: none;
    }
  }
}

.primary {
  background: $ssb-green-4;
  color: $ssb-white;

  &:hover {
    background: $ssb-green-5;

    .button-text {
      border-bottom: 1px solid $ssb-white;
    }
  }

  &:disabled {
    background: $regular-disable-color;
    border: none;

    .button-text {
      border-bottom: none;
    }
  }
}
