.header-component-wrapper {
  align-items: center;
  background: $ssb-white;
  border-bottom: 1px solid $ssb-dark-5;
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  height: 100%;
  justify-content: center;
  width: 100%;

  .content-holder {
    padding-top: 45px;
  }

  &.front-page {
    background: $ssb-dark-1;
    border-bottom: 0;
  }

  .left-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    .logo-and-title {
      display: flex;
      height: 38px;

      .home-nav {
        cursor: pointer;
        width: 260px;
      }

      img {
        height: 47px;
        margin-top: -5px;
      }

      .diagonal-divider {
        background: $ssb-dark-6;
        margin: 0 ($global-padding-size * 2);
        width: 1px;
      }

      .ssb-title {
        color: $ssb-dark-5;
        margin: 0;
      }
    }
  }

  .right-section {
    align-items: center;
    display: flex;
    height: 38px;
    justify-content: space-between;
    margin-bottom: 45px;

    .links {
      align-items: center;
      display: flex;
      font-weight: bold;
      margin-left: 15px;

      > div {
        margin-left: $global-padding-size;
      }
    }
  }

  .header-navigation {
    color: $ssb-dark-6;
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;

    &.active, &:hover, &:focus {
      color: $ssb-green-4;
    }
  }

  .get-started {
    margin-bottom: 60px;

    .get-started-title {
      color: $ssb-green-3;
    }

    .intro-text {
      font-size: 20px;
      line-height: 1.7;
    }
  }
}
