.header-component-wrapper {
  align-items: center;
  background: $ssb-white;
  border-bottom: 1px solid $ssb-dark-5;
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  height: 100%;
  justify-content: center;
  width: 100%;

  .content-holder {
    padding-top: 45px;

    .mobile-menu {
      background: $ssb-white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;

      .version-number {
        padding: 20px;
        text-align: right;
      }
    }
  }

  &.front-page {
    background: $ssb-dark-1;
    border-bottom: 0;
  }

  .left-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    .logo-and-title {
      cursor: pointer;
      display: flex;
      height: 38px;

      .ssb-text-wrapper {
        align-items: center;
        display: flex;
      }

      .home-nav {
        width: 260px;
      }

      .desktop-version-number {
        align-items: center;
        display: flex;
      }


      @media #{$mobile} {
        .home-nav {
          width: auto;
        }

        .diagonal-divider {
          display: none;
        }

        .logo-full {
          display: none;
        }
      }

      .logo-full {
        height: 47px;
        margin-top: -5px;
      }

      .diagonal-divider {
        background: $ssb-dark-6;
        margin: 0 ($global-padding-size * 2);
        width: 1px;
      }

      .site-title {
        @include roboto-condenced;
        color: $ssb-dark-5;
        font-size: 28px;
        font-weight: bold;
        margin: 0;

        @media #{$mobile} {
          font-size: 24px;
        }
      }
    }

    @media #{$mobile} {
      .logo-and-title {
        align-items: center;
      }

      .desktop-version-number {
        display: none;
      }
    }
  }

  .right-section {
    align-items: center;
    display: flex;
    height: 38px;
    justify-content: space-between;
    margin-bottom: 45px;
    position: relative;

    .links {
      align-items: center;
      display: flex;
      font-weight: bold;
      margin-left: 16px;

      > div {
        margin-left: $global-padding-size;
      }
    }

    .menu-icon {
      color: $ssb-green-4;
      margin-bottom: 4px;
    }

  }

  .header-navigation {
    color: $ssb-dark-6;
    font-size: 20px;
    font-weight: bold;
    margin: 0 16px;
    text-decoration: none;
    white-space: nowrap;

    &.active, &:hover, &:focus {
      color: $ssb-green-4;
    }
  }

  .get-started {
    margin-bottom: 60px;

    .get-started-title {
      color: $ssb-green-3;
    }

    .intro-text {
      font-size: 20px;
      line-height: 1.7;
    }
  }

  .logo-symbol {
    display: none;
    height: 28px;
  }

  .mobile-collapse-menu {
    display: none;
    margin-bottom: 0;

    input {
      opacity: 0;
    }
  }

  .menu-label {
    @include roboto;
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
  }

  @media #{$mobile} {
    .mobile-collapse-menu {
      align-items: center;
      display: flex;
    }

    .navigation-items {
      &.closed {
        display: none;
      }
    }
  }

  @media #{$mobile} {
    .content-holder {
      padding: 20px;
    }

    .search-bar-container {
      margin: 0 20px 20px 20px;
    }

    .logo-symbol {
      display: block;
      margin-right: 8px;
    }

    .ssb-title {
      color: $ssb-dark-5;
      margin-bottom: 0;
    }

    .left-section, .right-section {
      margin-bottom: 0;
    }

    .mobile-navigation-items {
      border-bottom: 1px solid $ssb-dark-2;

      .header-navigation {
        border-top: 1px solid $ssb-dark-2;
        margin: 0;
        padding: 20px;
      }
    }
  }
}
