.grid-column {
  display: grid;
  column-gap: 20px;

  &.grid-12 {
    grid-template-columns: repeat(12, auto);
  }

  &.grid-6 {
    grid-template-columns: repeat(6, auto);
  }

  &.grid-4 {
    grid-template-columns: repeat(4, auto);
  }

  &.grid-3 {
    grid-template-columns: repeat(3, auto);
  }

  &.grid-2 {
    grid-template-columns: repeat(2, auto);
  }

  &.grid-1 {
    grid-template-columns: repeat(1, auto);
  }
}

.grid-row {
  display: grid;
  row-gap: 20px;
}

