.footer-wrapper {
  background: $ssb-dark-5;
  color: $ssb-white;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: minmax(auto, $max-content-size);
  justify-content: center;
  padding: 35px 0;
  position: relative;

  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .interactive-elements {
    align-items: center;
    display: flex;
    flex-direction: row;

    > * {
      margin-right: 20px;
    }
  }

  @media #{$mobile} {
    .footer-content {
      flex-direction: column-reverse;
      margin: 20px 0;
    }

    .interactive-elements {
      flex-direction: column;

      > * {
        margin-bottom: 40px;
        margin-right: 0;
      }
    }
  }
}

// For component info pages
.component-wrapper {
  margin-left: 20px;
  width: 100%;

  > * {
    margin: 16px;
  }
}
