.dropdown-component-wrapper {
  background: $ssb-white;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  transition: all .25s ease-in-out;

  label {
    margin-bottom: 5px;
  }

  .dropdown-interactive-area {
    cursor: pointer;
    position: relative;

    input {
      border: 1px solid $ssb-dark-5;
      cursor: pointer;
      font-size: 16px;
      height: $input-field-height;
      padding: 4px 34px 4px 10px;

      &::placeholder {
        color: $ssb-dark-6;
      }

      &:hover {
        border: 1px solid $ssb-green-4;
      }

      &:focus, &.focused {
        border: 1px solid $ssb-green-4;
        outline: $ssb-green-4 auto 5px;
        outline-offset: -2px;
      }
    }

    .list-of-options {
      background: $ssb-white;
      border: 1px solid $ice-cold-grey;
      left: 0;
      list-style: none;
      margin: 0;
      max-width: 300px;
      min-width: 150px;
      padding-left: 0;
      position: absolute;
      top: $input-field-height;
      z-index: 9999;

      .option-list-element {
        cursor: pointer;

        option {
          overflow: hidden;
          padding: $global-padding-size;
          text-overflow: ellipsis;
        }

        &:hover {
          background: $ssb-green-2;
        }

        &.selected {
          background: $ssb-green-4;
          color: $ssb-white;
        }
      }
    }

  }
}
